- model_class = PitchingSeason
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:team)
      %th= model_class.human_attribute_name(:jersey_number)
      %th= model_class.human_attribute_name(:season_order)
      %th= model_class.human_attribute_name(:gp)
      %th= model_class.human_attribute_name(:gs)
      %th= model_class.human_attribute_name(:w)
      %th= model_class.human_attribute_name(:l)
      %th= model_class.human_attribute_name(:sv)
      %th= model_class.human_attribute_name(:bs)
      %th= model_class.human_attribute_name(:hld)
      %th= model_class.human_attribute_name(:outs)
      %th= model_class.human_attribute_name(:tbf)
      %th= model_class.human_attribute_name(:h)
      %th= model_class.human_attribute_name(:r)
      %th= model_class.human_attribute_name(:er)
      %th= model_class.human_attribute_name(:hr)
      %th= model_class.human_attribute_name(:k)
      %th= model_class.human_attribute_name(:bb)
      %th= model_class.human_attribute_name(:ibb)
      %th= model_class.human_attribute_name(:hbp)
      %th= model_class.human_attribute_name(:cg)
      %th= model_class.human_attribute_name(:sho)
      %th= model_class.human_attribute_name(:wp)
      %th= model_class.human_attribute_name(:bk)
      %th= model_class.human_attribute_name(:era)
      %th= model_class.human_attribute_name(:whip)
      %th= model_class.human_attribute_name(:k_percent)
      %th= model_class.human_attribute_name(:bb_percent)
      %th= model_class.human_attribute_name(:babip)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @pitching_seasons.each do |pitching_season|
      %tr
        %td= link_to pitching_season.id, pitching_season_path(pitching_season)
        %td= pitching_season.team
        %td= pitching_season.jersey_number
        %td= pitching_season.season_order
        %td= pitching_season.gp
        %td= pitching_season.gs
        %td= pitching_season.w
        %td= pitching_season.l
        %td= pitching_season.sv
        %td= pitching_season.bs
        %td= pitching_season.hld
        %td= pitching_season.outs
        %td= pitching_season.tbf
        %td= pitching_season.h
        %td= pitching_season.r
        %td= pitching_season.er
        %td= pitching_season.hr
        %td= pitching_season.k
        %td= pitching_season.bb
        %td= pitching_season.ibb
        %td= pitching_season.hbp
        %td= pitching_season.cg
        %td= pitching_season.sho
        %td= pitching_season.wp
        %td= pitching_season.bk
        %td= pitching_season.era
        %td= pitching_season.whip
        %td= pitching_season.k_percent
        %td= pitching_season.bb_percent
        %td= pitching_season.babip
        %td=l pitching_season.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_pitching_season_path(pitching_season), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), pitching_season_path(pitching_season), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_pitching_season_path, :class => 'btn btn-primary'
