%p#notice= notice


%p
  %b Season order:
  = @pitching_season.season_order
%p
  %b Gp:
  = @pitching_season.gp
%p
  %b Gs:
  = @pitching_season.gs
%p
  %b W:
  = @pitching_season.w
%p
  %b L:
  = @pitching_season.l
%p
  %b Sv:
  = @pitching_season.sv
%p
  %b Bs:
  = @pitching_season.bs
%p
  %b Hld:
  = @pitching_season.hld
%p
  %b Outs:
  = @pitching_season.outs
%p
  %b Outs:
  = @pitching_season.outs
%p
  %b Tbf:
  = @pitching_season.tbf
%p
  %b H:
  = @pitching_season.h
%p
  %b R:
  = @pitching_season.r
%p
  %b Er:
  = @pitching_season.er
%p
  %b Hr:
  = @pitching_season.hr
%p
  %b K:
  = @pitching_season.k
%p
  %b Bb:
  = @pitching_season.bb
%p
  %b Ibb:
  = @pitching_season.ibb
%p
  %b Hbp:
  = @pitching_season.hbp
%p
  %b Cg:
  = @pitching_season.cg
%p
  %b Sho:
  = @pitching_season.sho
%p
  %b Wp:
  = @pitching_season.wp
%p
  %b Bk:
  = @pitching_season.bk
%p
  %b Era:
  = @pitching_season.era
%p
  %b Whip:
  = @pitching_season.whip
%p
  %b K percent:
  = @pitching_season.k_percent
%p
  %b Bb percent:
  = @pitching_season.bb_percent
%p
  %b Babip:
  = @pitching_season.babip

= link_to 'Edit', edit_pitching_season_path(@pitching_season)
\|
= link_to 'Back', pitching_seasons_path
