= form_for @player, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :date_of_birth, :class => 'control-label'
    .controls
      = f.date_select :date_of_birth, :start_year => 1955, :class => 'date_select'
  .control-group
    = f.label :height, :class => 'control-label'
    .controls
      = f.text_field :height, :class => 'text_field'
  .control-group
    = f.label :weight, :class => 'control-label'
    .controls
      = f.text_field :weight, :class => 'text_field'
  .control-group 
    = f.label "Team", :class => 'control-label'
    .controls
      = select :player, :team_id, Team.all.collect {|t| [t.team_name, t.id]}

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), players_path, :class => 'btn'
