- model_class = BattingSeason
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:team) + ':'
  %br
  = @batting_season.team
%p
  %strong= model_class.human_attribute_name(:jersey_number) + ':'
  %br
  = @batting_season.jersey_number
%p
  %strong= model_class.human_attribute_name(:season_order) + ':'
  %br
  = @batting_season.season_order
%p
  %strong= model_class.human_attribute_name(:position) + ':'
  %br
  = @batting_season.position
%p
  %strong= model_class.human_attribute_name(:ab) + ':'
  %br
  = @batting_season.ab
%p
  %strong= model_class.human_attribute_name(:gp) + ':'
  %br
  = @batting_season.gp
%p
  %strong= model_class.human_attribute_name(:pa) + ':'
  %br
  = @batting_season.pa
%p
  %strong= model_class.human_attribute_name(:singles) + ':'
  %br
  = @batting_season.singles
%p
  %strong= model_class.human_attribute_name(:doubles) + ':'
  %br
  = @batting_season.doubles
%p
  %strong= model_class.human_attribute_name(:triples) + ':'
  %br
  = @batting_season.triples
%p
  %strong= model_class.human_attribute_name(:hr) + ':'
  %br
  = @batting_season.hr
%p
  %strong= model_class.human_attribute_name(:tb) + ':'
  %br
  = @batting_season.tb
%p
  %strong= model_class.human_attribute_name(:r) + ':'
  %br
  = @batting_season.r
%p
  %strong= model_class.human_attribute_name(:rbi) + ':'
  %br
  = @batting_season.rbi
%p
  %strong= model_class.human_attribute_name(:bb) + ':'
  %br
  = @batting_season.bb
%p
  %strong= model_class.human_attribute_name(:ibb) + ':'
  %br
  = @batting_season.ibb
%p
  %strong= model_class.human_attribute_name(:so) + ':'
  %br
  = @batting_season.so
%p
  %strong= model_class.human_attribute_name(:hbp) + ':'
  %br
  = @batting_season.hbp
%p
  %strong= model_class.human_attribute_name(:sf) + ':'
  %br
  = @batting_season.sf
%p
  %strong= model_class.human_attribute_name(:sh) + ':'
  %br
  = @batting_season.sh
%p
  %strong= model_class.human_attribute_name(:gidp) + ':'
  %br
  = @batting_season.gidp
%p
  %strong= model_class.human_attribute_name(:sb) + ':'
  %br
  = @batting_season.sb
%p
  %strong= model_class.human_attribute_name(:cs) + ':'
  %br
  = @batting_season.cs
%p
  %strong= model_class.human_attribute_name(:ba) + ':'
  %br
  = @batting_season.ba
%p
  %strong= model_class.human_attribute_name(:obp) + ':'
  %br
  = @batting_season.obp
%p
  %strong= model_class.human_attribute_name(:slg) + ':'
  %br
  = @batting_season.slg
%p
  %strong= model_class.human_attribute_name(:ops) + ':'
  %br
  = @batting_season.ops
%p
  %strong= model_class.human_attribute_name(:k_percent) + ':'
  %br
  = @batting_season.k_percent
%p
  %strong= model_class.human_attribute_name(:bb_percent) + ':'
  %br
  = @batting_season.bb_percent

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), batting_season_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_batting_season_path(@batting_season), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), batting_season_path(@batting_season), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
